.header-container{
    display:flex;
    flex-direction: row;                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}
.logo{
    border: 2px solid green;
width: 21%;
}
.logo1{
    height: 115px;
    width: 86%;
    display:flex;
    justify-content:center;
}
.nav-menu{
    width: 60%;
    padding-left: 30px;
border: 2px solid red;
display:flex;
justify-content:space-around;
flex-direction: column;



}
.nav-menu1{ 
    width: 50%;
    
    display: flex;

justify-content:space-between;
margin-left: 10



}


.user-buttons{  border: 2px solid rgb(4, 4, 7);
    border: 1px solid black;
    width: 20%;
    display:flex;
    
     
    
}
.btn1{
    flex-grow:2.5;

background-color: white;

color:blue;
font-weight:bold;


}
.btn2{
    flex-grow: 2.5;
    background-color:white;
    height:0px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    

    }


.main-contain{
    display: flex;
    padding-left: 80px;

    padding-top: 100px;
    justify-content: space-around;
     
  background:  #FFB6C1;
  font-weight: bold;
  font-size: small;
}

.boxes
{
    display:flex;
    justify-content: space-between;

    
   
       
       

   }
   .yellow-box{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    background:#FFD700;
    width:45%;
    height: 400px;
    padding-left: 50px;
   }
   .green-box{
    background:#66CDAA;
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width:45%;
    height: 400px;
    padding-left: 50px;


   }
   .blue-box{
    background-color: #00BFFF;
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width:50%;
    height: 400px;
    padding-left: 50px;

   }
   .image{
       display:flex;
       flex-grow:1;
       flex-direction: column;
       width: 10px



   }
   
.h25{
    display: flex;
    flex-direction: column;
    padding-right: 100px;

padding-bottom: 100px;

margin-left: -10%;

margin-top: -50px;
font-style: 

}

.section3{
    display:flex;
  
    flex-direction: row;
    margin-top: 75px;

}
   
   .image5 {
       display: flex;
       justify-content: space-between;
   }
   .image5 img{
       
    width: 10%;
    height: 119px;
    margin-left: 5%;
    
   } 
   .section33 {
    width: 17%;
    margin-left:7%;
    color: darkgray;

    font-weight: bold;
   }
   .section4{
       width:83%;
       display:flex;
       
       justify-content: space-around;
       margin-top: 10%;
       margin-left: 9%;



   }
.img44{
    width: 90%;

/* padding-left: 150px;
    display:flex;
    flex-direction: row; */

}   
.text1{
    /* margin-left:50%;
    width:300px; */
    font-size: 101%;

}
   .terms{
       display: flex;
       justify-content:center ;
       margin-top: 20px;
       padding-top: 30px;

}
.section47{
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: rgb(139, 134, 134);
    height:100px;

}
.video-platform { 
    margin-top:-6%;
    display: flex;
    flex-direction: row;
   background-color: rgba(65, 43, 43, 0.678);
    padding-left: 70px;
    padding-top: 50px;
}   
.footer-link{
    display:flex;
    flex-direction: row;
}
.product{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}
.company{
    display:flex;
    flex-direction: column;

}
.Learn{
    display: flex;
    flex-direction: column;

}
.Support{
    display: flex;
    flex-direction: column;
}
.fb{
    display:flex;
    flex-direction: column;
    width: 362px;
}
.btn3{
    height: 35px;
    margin-top: 150px;
}
.btn4{
    height: 35px;
    margin-top: 150px;
}
.btn5{
    height: 35px;
    margin-top: 150px;
}
h1{
    color: white;
}
h2{
    color: white;
}











}